<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.maple.guideserver.dao.UserDao">
    <select id="selectUserByAccAndPw" resultType="com.maple.guideserver.entity.User">
        select * from `user` where account = #{account} and password = #{password};
    </select>
    <insert id="insertUser">
        INSERT INTO `user` (nick_name,account,password) VALUES (#{account},#{account},#{password});
    </insert>
    <update id="updateUserPlace">
        UPDATE user SET longitude = #{longitude}, latitude = #{latitude} WHERE user_id = #{user_id};
    </update>
    <select id="selectUserByAcc" resultType="com.maple.guideserver.entity.User">
        select * from `user` WHERE account = #{account};
    </select>

    <select id="selectAllTeammate" resultType="com.maple.guideserver.entity.User">
        SELECT u.*,t.user_role FROM user_team t join `user` u ON  u.user_id = t.user_id WHERE t.team_id = #{team_id};
    </select>

    <select id="selectGuide" resultType="com.maple.guideserver.entity.User">
        SELECT u.*,t.user_role FROM user_team t join `user` u ON  u.user_id = t.user_id WHERE t.team_id = #{team_id} and user_role = 1;
    </select>

    <select id="selectTourise" resultType="com.maple.guideserver.entity.User">
        SELECT u.*,t.user_role FROM user_team t join `user` u ON  u.user_id = t.user_id WHERE t.team_id = #{team_id} and user_role = 2;
    </select>

</mapper>